<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Form</title>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <body>
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Affinity Matrix</h1>
                <p>Score potential client below!</p>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/send/affinity" role="form", name="affinityform">
                        <div class="form-group">
                            <label for="input_first_name">First Name</label>
                            <input type="text" maxlength="64" class="form-control" id="input_first_name" name="first_name" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="input_last_name">Last Name</label>
                            <input type="text" maxlength="64" class="form-control" id="input_last_name" name="last_name" placeholder="Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="input_organization">Organization</label>
                            <input type="text" maxlength="64" class="form-control" id="input_organization" name="organization" placeholder="Organization" required>
                        </div>
                        <div class="form-group">
                            <label for="input_market">Market</label>
                            <select class="form-control" id="input_market" name="market" required>
                                <option value="REIT/Developer">REIT/Developer</option>
                                <option value="Government">Government</option>
                                <option value="Non-Profit">Non-Profit</option>
                                <option value="K-8">K-8</option>
                                <option value="K-12">K-12</option>
                                <option value="Higher Ed">Higher Ed</option>
                                <option value="Commercial">Commercial</option>
                                <option value="Cultural">Cultural</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="input_relationships">Relationships</label>
                            <input type="number" min="1" max="5" step="1" class="form-control" id="input_relationships" name="relationships" placeholder="Relationships" required>
                        </div>
                        <div class="form-group">
                            <label for="input_bandwidth">Bandwidth</label>
                            <input type="number" min="1" max="5" step="1" class="form-control" id="input_bandwidth" name="bandwidth" placeholder="Bandwidth" required>
                        </div>
                        <div class="form-group">
                            <label for="input_mission">Mission</label>
                            <input type="number" min="1" max="5" step="1" class="form-control" id="input_mission" name="mission" placeholder="Mission" required>
                        </div>
                        <div class="form-group">
                            <label for="input_design_style">Design Style</label>
                            <input type="number" min="1" max="5" step="1" class="form-control" id="input_design_style" name="design_style" placeholder="Design Style" required>
                        </div>
                        <div class="form-group">
                            <label for="input_quality">Quality</label>
                            <input type="number" min="1" max="5" step="1" class="form-control" id="input_quality" name="quality" placeholder="Quality" required>
                        </div>
                        <div class="form-group">
                            <label for="input_opportunity">Opportunity</label>
                            <input type="number" min="1" max="5" step="1" class="form-control" id="input_opportunity" name="opportunity" placeholder="Opportunity" required>
                        </div>
                        <div class="form-group">
                            <label for="input_selection_process">Selection Process</label>
                            <input type="number" min="1" max="5" step="1" class="form-control" id="input_selection_process" name="selection_process" placeholder="Selection Process" required>
                        </div>
                        <div class="form-group">
                            <label for="input_x_factor">X-Factor</label>
                            <input type="number" min="1" max="5" step="1" class="form-control" id="input_x_factor" name="x_factor" placeholder="X-Factor" required>
                        </div>
                        <div class="form-group">
                            <label for="input_comments">Comments</label>
                            <input type="text" maxlength="64" class="form-control" id="input_comments" name="comments" placeholder="Comments" required>
                        </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>
            </div>

        </div>

    </body>

</html>
